mixin cartListBlock(product = {})
    .productsBlock
        h3.productsBlock__itemName=product.itemName
        h3.productsBlock__qty=product.qty 
        h3.productsBlock__itemPrice=product.itemPrice
