header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fas. fa-arrow-left
        .header__column
            p table#{table_num}
        .header__column
            a(href=routes.shoppingBasket)
                i.fas.fa-shopping-basket